<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="kungfu" class="edu.tarining.spring_core.autowiring_sample.by_constructor.Kungfu">
		<constructor-arg name="name" value="Shao Lin"/>
	</bean>
	
	<bean id="panda" class="edu.tarining.spring_core.autowiring_sample.by_constructor.Panda" autowire="constructor"/>
</beans>
