<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="employee" class="edu.training.spring.autowiring_sample.bean.Employee" autowire="byName">
		<property name="fullName" value="Donald Tramp"/>
	</bean>
	
	<bean id="department" class="edu.training.spring.autowiring_sample.bean.Department">
		<property name="name" value="Human Resources"/>
	</bean>
</beans>
